<div style="width:100%">
    <mat-tab-group mat-stretch-tabs style="width:100%">
        <mat-tab label="Usuarios"> 
            <button style="margin-left:1vw;margin-top: 1vw;" *ngIf="saveButtonActive" (click)="saveUsers()" mat-button>Guardar</button>
            <ag-grid-angular 
                style="height: 70vh; margin:3%" 
                class="ag-theme-balham"
                [rowData]="userRowData"
                [defaultColDef]="defaultColDef"
                [columnDefs]="userColumnsDefs"
                [frameworkComponents]="frameworkComponents"
                (cellValueChanged)="changeEvent($event)"
                
                (gridReady)="onUserGridReady($event)"
                >
            </ag-grid-angular>
        </mat-tab>
        <mat-tab label="Perfiles"> 
            <button style="margin-left:1vw;margin-top: 1vw;" *ngIf="saveProfileButtonActive" (click)="saveProfiles()" mat-button>Guardar</button>
            <ag-grid-angular 
                style="height: 70vh; margin:3%" 
                class="ag-theme-balham"
                [rowData]="profilesRowData"
                [defaultColDef]="defaultColDef"
                [columnDefs]="profilesColumnsDefs"
                [frameworkComponents]="frameworkComponents"
                (cellValueChanged)="changeProfileGridEvent($event)"
                
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>

        </mat-tab>
        
    </mat-tab-group>
</div>

